body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

/* ---- Página principal ---- */

.home-body {
    background: #FFF8E0; 
    font-family: "Georgia", serif;
}

.home-container {
    text-align: center;
    padding-top: 80px;
}

.home-title {
    font-size: 70px;
    letter-spacing: 8px;
    color: #6B3E2E; /* marrón disco */
    text-shadow: 
        3px 3px 0 #E8A87C,   /* naranja suave */
        6px 6px 0 #D66C3A;   /* naranja retro fuerte */
    margin-bottom: 10px;
    font-weight: bold;
}

/* SUBTÍTULO */
.home-sub {
    font-size: 22px;
    color: #8A5A44;
    margin-bottom: 40px;
    font-style: italic;
}

/* BOTONES DISCO */
.home-buttons .btn {
    background: #D66C3A;
    color: #FFF8E0;
    padding: 15px 25px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    transition: .2s;
    border: 3px solid #6B3E2E;
}

.home-buttons .btn:hover {
    background: #E8A87C;
    transform: scale(1.08);
}

/* ---- Página de discos ---- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #202020;
    padding: 15px 25px;
}

.logo {
    font-size: 40px;
    letter-spacing: 5px;
}

.back {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.search-bar {
    width: 350px;
    height: 35px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
}

/* Galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    padding: 40px;
}

.card {
    background: #333;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.title {
    margin-top: 10px;
    font-weight: bold;
}

/* ---- Historia ---- */

.historia-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 15px;
}
