<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background:#FFF8E0;">

<header class="header">
    <a href="/" class="back">⬅ Volver</a>

    <h1 class="logo">CARRITO</h1>

    <a href="/carrito" class="cart-icon" style="color:#FFF8E0; font-size:22px;">
        🛒 {{ items|length }}
    </a>
</header>

<div class="carrito-container">

    {% if items %}
        <h2 class="carrito-title">Tus discos seleccionados</h2>

        <div class="carrito-lista">
            {% for item in items %}
            <div class="carrito-card">
                <img src="/static/{{ item.img }}" alt="{{ item.title }}">

                <div class="carrito-info">
                    <p class="carrito-nombre">{{ item.title }}</p>

                    <form action="/eliminar" method="POST">
                        <input type="hidden" name="album_id" value="{{ item.id }}">
                        <button class="carrito-eliminar">Quitar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="carrito-total-box">
            <p class="carrito-total">Total: <span>${{ items|length * 5000 }}</span></p>
        </div>
</div>
{% if items %}
<form action="/finalizar" method="POST">
    <button class="btn-disco" style="margin-top:25px;">Finalizar compra</button>
</form>
{% else %}
<p style="text-align:center; color:#6B3E2E; font-family:'Georgia', serif;">Tu carrito está vacío 💔</p>
{% endif %}


</body>
</html>
