<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home-body">

    <header class="header">
        <div class="logo">DISQUERA</div>
        <a href="/discos" class="back">⬅ Volver</a>
    </header>

    <div class="carrito-container">

        <h1 class="carrito-title">🛒 Tu Carrito</h1>

        <!-- SI HAY ITEMS -->
        {% if items|length > 0 %}
            
            <div class="carrito-grid">
                {% for item in items %}
                    <div class="carrito-item">
                        <img src="/static/{{ item.img }}" class="carrito-img">

                        <h2 class="carrito-nombre">{{ item.title }}</h2>

                        <form action="/eliminar" method="POST">
                            <input type="hidden" name="album_id" value="{{ item.id }}">
                            <button class="btn-eliminar">Eliminar</button>
                        </form>
                    </div>
                {% endfor %}
            </div>

            <!-- BOTÓN FINALIZAR COMPRA -->
            <form action="/finalizar" method="POST" style="text-align:center; margin-top:30px;">
                <button class="btn-disco">Finalizar compra</button>
            </form>

        {% else %}
        <!-- SI EL CARRITO ESTÁ VACÍO -->
            <p class="carrito-vacio">
                Tu carrito está vacío 💔  
                <br><br>
                <a href="/discos" class="btn-disco">Ver discos</a>
            </p>
        {% endif %}

    </div>

</body>
</html>
