<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Discos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="header">
    <a href="/" class="back">⬅ Volver</a>

    <input id="search" type="text" placeholder="Buscar álbum..." class="search-bar">

    <a href="/carrito" class="cart-icon">
        🛒 <span id="cart-count">{{ cart_count }}</span>
    </a>
</header>

<div class="gallery">
    {% for album in albums %}
    <div class="card" data-title="{{ album.title | lower }}">
        <img src="/static/{{ album.img }}" alt="{{ album.title }}">
        <p class="title">{{ album.title }}</p>

        <!-- Botón agregar -->
        <form action="/agregar" method="POST">
            <input type="hidden" name="album_id" value="{{ album.id }}">
            <button class="add-btn" type="submit">Agregar al carrito</button>
        </form>
    </div>
    {% endfor %}
</div>

<script>
    const searchInput = document.getElementById("search");
    const cards = document.querySelectorAll(".card");

    searchInput.addEventListener("input", function() {
        const query = this.value.toLowerCase();

        cards.forEach(card => {
            const title = card.getAttribute("data-title");

            card.style.display = title.includes(query) ? "block" : "none";
        });
    });
</script>

</body>
</html>
