<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compra Finalizada</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home-body">

    <!-- HEADER RETRO -->
    <header class="header">
        <div class="logo">DISQUERA</div>
        <a href="/" class="back">⬅ Volver</a>
    </header>

    <!-- CUADRO CENTRAL VINTAGE -->
    <div class="finalizado-container">
        <h1 class="finalizado-title">¡GRACIAS POR TU COMPRA! 🛍️</h1>
        <p class="finalizado-text">
            Tu pedido ha sido procesado correctamente.  
            ¡Esperamos que disfrutes tu nuevo disco!
        </p>

        <a href="/discos" class="btn-disco">Seguir comprando</a>
    </div>

</body>
</html>
